.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}
input {
    width: 300px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
button {
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 10px;
    background-color: blanchedalmond;
    transition: all 0.3s ease;
}
tbody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
tr, td {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}